In [78]:
import pandas as pd

In [79]:
df = pd.read_csv('inclass-data/adult.data', header=None)
df.columns = ['age', 'workclass', 'fnlwgt', 'edu', 'edu-num', 'marital', 'occupation', 'relationship', 'race', 'sex', 'cap-gain', 'cap-loss','hpw','native country','income']
df.head()

,age,workclass,fnlwgt,edu,edu-num,marital,occupation,relationship,race,sex,cap-gain,cap-loss,hpw,native country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## Drop useless features (columns)

In [80]:
df = df.drop(columns=['fnlwgt', 'edu', 'cap-gain', 'cap-loss', 'native country'])

In [81]:
df['age'].value_counts()

36    898
31    888
34    886
23    877
35    876
     ...
83      6
88      3
85      3
86      1
87      1
Name: age, Length: 73, dtype: int64

In [82]:
df.head()

,age,workclass,edu-num,marital,occupation,relationship,race,sex,hpw,income
0,39,State-gov,13,Never-married,Adm-clerical,Not-in-family,White,Male,40,<=50K
1,50,Self-emp-not-inc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,<=50K
2,38,Private,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,<=50K
3,53,Private,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,<=50K
4,28,Private,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,<=50K

In [83]:
df['workclass'].value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

In [84]:
for i in df.columns:
    dfi_nc = df[df[i] == ' ?'].index
    df = df.drop(labels=dfi_nc)

In [85]:
df['workclass'].value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
Name: workclass, dtype: int64

In [86]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler, MinMaxScaler
from sklearn.compose import ColumnTransformer
import numpy as np

categorical = ['workclass', 'marital', 'occupation', 'relationship', 'race', 'sex', 'income']
numerical = ['age','edu-num','hpw']
ct = ColumnTransformer(
    transformers=[
        ('categorical', OneHotEncoder(), categorical),
        ('numerical', MinMaxScaler(), numerical)
        ])