<table>
    <thead>
        <tr>
            <th>Layer 1</th>
            <th>Layer 2</th>
            <th>Layer 3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan=4>L1 Name</td>
            <td rowspan=2>L2 Name A</td>
            <td>L3 Name A</td>
        </tr>
        <tr>
            <td>L3 Name B</td>
        </tr>
        <tr>
            <td rowspan=2>L2 Name B</td>
            <td>L3 Name C</td>
        </tr>
        <tr>
            <td>L3 Name D</td>
        </tr>
    </tbody>
</table>

In [1]:
import pandas as pd
df = pd.read_csv('preprocessed.csv')
df

,duration,pdays,previous,housing,contact_cellular,poutcome_success,y
0,-0.229683,0.0,0.0,0.0,0.0,0.0,0
1,-0.327457,0.0,0.0,0.0,0.0,0.0,0
2,1.437528,197.0,2.0,-1.0,0.0,0.0,1
3,0.199694,0.0,0.0,-1.0,0.0,0.0,0
4,-0.049838,0.0,0.0,-1.0,0.0,0.0,1
...,...,...,...,...,...,...,...
36108,0.929991,268.0,1.0,0.0,0.0,0.0,0
36109,-0.625491,0.0,0.0,-1.0,0.0,0.0,0
36110,-0.139254,226.0,2.0,-1.0,0.0,0.0,0
36111,-0.034686,275.0,3.0,-1.0,0.0,0.0,0
36112,-1.371232,0.0,0.0,0.0,-1.0,0.0,0

In [3]:
testArr = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
for i in testArr[1:-1]:
    print(i)

1
2
3
4
5
6
7
8